@model EmployeeManagementProject.DTOs.Employee.CreateEmployeeDto

@{
    ViewData["Title"] = "Edit Employee";
}

<h2>Edit Employee</h2>

<form asp-action="EditEmployee" method="post">
    <div class="form-group">
        <label>Title</label>
        <select asp-for="Title" asp-items="ViewBag.Titles" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OtherName"></label>
        <input asp-for="OtherName" class="form-control" />
        <span asp-validation-for="OtherName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Id">Department</label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.Departments">
            <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Update</button>
    <a asp-controller="Department" asp-action="Departments" class="btn btn-secondary mt-2">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}