@using EmployeeManagementProject.DTOs.Department

@model DepartmentDto;
@{
    ViewData["Title"] = "Department Details";
}
<h2>Department Details</h2>
<div>
    <h4>Name</h4>
    <p>@Model.Name</p>
</div>
<div>
    <h4>Description</h4>
    <p>@Model.Description</p>
</div>