

@{
    var id = Context.GetRouteValue("id");
}

<div class="row">

    <form class="row g-3" asp-action="EditDepartment" asp-controller="Department" asp-route-id="@id">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" value="@Model.Name">
        </div>
        <div class="col-md-6">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" value="@Model.Description">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
